<main id="{{collection.title | handleize}}"> 
  <section class="background-blue page-title flex-container-no" id="{{collection.title | handleize}}-wrapper">
    {% if collection.title contains 'Women' %}
      <img src="{{'women-atf-head.png' | asset_url}}" class="alpaca-head" />
      <div class="collections-header-title tac">
        <h1 class="nm"> Shop {{collection.title | truncatewords: 1, ""}}</h1>        
        <h2 class="nm light">{{ collection.title | remove: "Women's"}}</h2>
        {% if collection.title contains "Performance" %}
          <img src="{{'performance-row-col.png' | asset_url}}" class="fw do" />
          <img src="{{'WomenAthletic_Stacked.png' | asset_url}}" class="fw mo" />
        {% elsif collection.title contains "Crew" %}
          <img src="{{'Women.Cre.Row.png' | asset_url}}" class="fw do" />
          <img src="{{'WomenCrew_Stack.png' | asset_url}}" class="fw mo" />
        {% elsif collection.title contains "No Show" %}
          <img src="{{'no.show_row.new-COL.png' | asset_url}}" class="fw do" />
          <img src="{{'WomenNo_Stacked.png' | asset_url}}" class="fw mo" />
        {% elsif collection.title contains "Low Cut" %}
          <img src="{{'LowCut.RowC-col.png' | asset_url}}" class="fw do" />
          <img src="{{'WomenLow_stack.png' | asset_url}}" class="fw mo" />
        {% endif %}
      </div>
    {% elsif collection.title contains 'Men' %}
      <img src="{{'men-atf-head.png' | asset_url}}" class="alpaca-head" />
       <div class="collections-header-title tac">
        <h1 class="nm"> Shop {{collection.title | truncatewords: 1, ""}}</h1>        
        <h2 class="nm light">{{ collection.title | remove: "Men's"}}</h2>
        {% if collection.title contains "Low Cut" %}
          <img src="{{'men-low-cut-col.png' | asset_url}}" class="fw do" />
          <img src="{{'MenLow_Stack.png' | asset_url}}" class="fw mo" />
        {% elsif collection.title contains "Crew" %}
           <img src="{{'men-col-crew.png' | asset_url}}" class="fw do" />
           <img src="{{'men-crew-stack.png' | asset_url}}" class="fw mo" />
        {% endif %}
       </div>
    {% else %}
      <img src="{{'kids-atf-head.png' | asset_url}}" class="alpaca-head" />
      <div class="collections-header-title tac">
        <h1 class="nm"> Shop {{collection.title | truncatewords: 1, ""}}</h1>
        {% if collection.title contains "Youth" %}        
          <h2 class="nm light">{{ collection.title | remove: "Youth"}}</h2>
          {% if collection.title contains "Low Cut" %}
            <img src="{{'kids-low-col.png' | asset_url}}" class="fw do" />
            <img src="{{'KidsLow_Stack.png' | asset_url}}" class="fw mo" />
          {% elsif collection.title contains "Crew" %}
            <img src="{{'kids.crew.row-col.png' | asset_url}}" class="fw do" />
            <img src="{{'KidCrew_Stack.png' | asset_url}}" class="fw mo" />
          {% endif %}
        {% else %}
          <img src="{{'tot.Rows.png' | asset_url}}" class="fw do" />
          <img src="{{'KidsTot_Stack.png' | asset_url}}" class="fw mo" />
        {% endif %}
      </div>
    {% endif %}
  </section>


  <section class="row double-padding-tbo">
    {% assign products = collection.products  %}
    {% for product in products %}
      {% assign variantCount = 0 %}
      {% for variant in product.variants  %}
        {% if variant.available %}
          {% if variantCount <= 2 %}
            {% assign variantCount = variantCount | plus: 1 %}

    <section class=" col {% for tag in product.tags %}{{tag | handleize}} {%endfor%}" id="{{product.title | truncatewords: 1,''}}-{{variantCount}}">
      <section class="card">
        <a href="{{product.url}}" onclick="ga('send', 'event', 'Collections Page', '{{collection.title | handleize}}', '{{product.title | handleize}}-{{variantCount}}');">
          <div class="product-collection-wrapper">
            <div class="accent-padding">
              <div class="slvr-col-img-wrapper">
          {%assign variantPhoto = variantCount | minus: 1 %}
           <img data-src="{{ product.images[variantPhoto] | product_img_url: '500x500' }}" alt="{{product.title}}" class="lazyload"/> 

              </div> 
              <h3 class=" nmb">{{product.title}}</h3>
              <h4 class="nm">{{ product.price | money }} <span class="strikethrough">{{product.compare_at_price | money}}</span></h4>
              {% if product.price > 4500 %}
              <p class="subscript">Qualifies for Free Shipping!</p>
              {% else %}
              <p class="subscript vis-hid">Qualifies for Free Shipping!</p>

              {% endif %}
                 {% if product.tags contains 'Kids' or product.tags contains "Men's" %}
                {% assign variantCount = variantCount | plus: 3 %}
          
            {% endif %}
              <div class="acfe">
                <!--            store variant as data attr on circle  -->


             {% capture limit_color %}
                {% if product.tags contains "Kids" %}
                {{ product.variants.size | divided_by: 1}}
                {% else %}
                {{ product.variants.size | divided_by: 2}}
                {% endif %}
                {% endcapture %}
                {% if product.tags contains 'Men' or product.tags contains 'Women' %}
                {% for variant in product.variants | limit: limit_color%}
                {% if variant.available %}
                  {% if variant.option2 %} 
                  {% for option in variant.option2 %}
                  <div data-image-src="{{ variant.image.src | product_img_url: '500x500'  }}" class="clickable {{option | handleize}} color-preview-circle" style="background-image: url({{ option | handle | append: '.png' | asset_url }});background-size: cover;" ></div>
                  {% endfor %}
                  {% else %}
                  {% for option in variant.option1 %}
                  <div data-image-src="{{ variant.image.src | product_img_url: '500x500'  }}" class="clickable {{option | handleize}} color-preview-circle"style="background-image: url({{ option | handle | append: '.png' | asset_url }});background-size: cover;"></div>
                  {% endfor %}
                  {% endif %} 
                {% endif %}
                {% endfor %}
               {% else %}
                {% for variant in product.variants | limit: limit_color%}
                {% if variant.available %}
                  {% if variant.option2 %} 
                  {% for option in variant.option2 %}
                  <div data-image-src="{{ variant.image.src | product_img_url: '500x500'  }}" class="clickable {{option | handleize}} color-preview-circle" style="background-image: url({{ option | handle | append: '.png' | asset_url }});background-size: cover;" ></div>
                  {% endfor %}
                  {% else %}
                  {% for option in variant.option1 %}
                  <div data-image-src="{{ variant.image.src | product_img_url: '500x500'  }}" class="clickable {{option | handleize}} color-preview-circle"style="background-image: url({{ option | handle | append: '.png' | asset_url }});background-size: cover;"></div>
                  {% endfor %}

                  {% endif %} 
                {% endif %}
                {% endfor %}
                {% endif %}
                
              </div>
            </div>
          </div>
        </a>
      </section>
    </section>
    {% endif %}
        {% endif %}

    {% endfor %}
    {% endfor%}


    {% if collection.title == "Women's Low Cut" %}
    <section class="col gif-insert" id="image-insert-1">
      <section class="card" style="border: none" id="image-break-womens-low">
      </section>
    </section>
      <section class="col gif-insert" id="image-insert-2">
      <section class="card" style="border: none" id="image-break-womens-low-2">
      </section>
    </section>
      <section class="col gif-insert" id="image-insert-3">
      <section class="card" style="border: none" id="image-break-womens-low-3">
      </section>
    </section>
    {% elsif collection.title == "Men's Low Cut" %}
    <section class="col gif-insert" id="image-insert-1">
      <section class="card" style="border: none" id="image-break-mens-low">
      </section>

{% comment %}    </section>
       <section class="col gif-insert" id="image-insert-2">
      <section class="card" style="border: none" id="image-break-mens-low-2">
      </section>

    </section>
       <section class="col gif-insert" id="image-insert-3">
      <section class="card" style="border: none" id="image-break-mens-low-3">
      </section>{% endcomment %}

    </section>
    {% elsif collection.title == "Men's Crew" %}
      <section class="col gif-insert" id="image-insert-1">
      <section class="card" style="border: none" id="image-break-mens-crew">
      </section>

    </section>
        <section class="col gif-insert" id="image-insert-2">
      <section class="card" style="border: none" id="image-break-mens-crew-2">
      </section>

    </section>
    {% comment %}  
          <section class="col gif-insert" id="image-insert-3">
      <section class="card" style="border: none" id="image-break-mens-crew-3">
      </section>{% endcomment %}

    </section>
    {% elsif collection.title == "Women's Performance"%}
    <section class="col gif-insert" id="image-insert-1">
      <section class="card" style="border: none" id="image-break-womens-crew">
      </section>
    </section>
    <section class="col gif-insert" id="image-insert-2">
      <section class="card" style="border: none" id="image-break-womens-crew-2">
      </section>
    </section>
    <section class="col gif-insert" id="image-insert-3">
      <section class="card" style="border: none" id="image-break-womens-crew-3">
      </section>
    </section>
    <section class="col gif-insert" id="image-insert-4">
      <section class="card" style="border: none" id="image-break-mens-crew-3">
      </section>
    </section>
    {% elsif collection.title == "Women's Crew" or collection.title == "Women's No Show"%}
        <section class="col gif-insert" id="image-insert-1">
      <section class="card" style="border: none" id="image-break-womens-crew">
      </section>
    </section>
          <section class="col gif-insert" id="image-insert-2">
      <section class="card" style="border: none" id="image-break-womens-crew-2">
      </section>
    </section>
          <section class="col gif-insert" id="image-insert-3">
      <section class="card" style="border: none" id="image-break-womens-crew-3">
      </section>
    </section>
    {% elsif collection.title == "Youth Crew" %}
      <section class="col gif-insert" id="image-insert-1">
      <section class="card" style="border: none" id="image-break-youth-crew">
      </section>

    </section>
{% comment %}        <section class="col gif-insert" id="image-insert-2">
      <section class="card" style="border: none" id="image-break-youth-crew-2">
      </section>

    </section>
        <section class="col gif-insert" id="image-insert-3">
      <section class="card" style="border: none" id="image-break-youth-crew-3">
      </section>

    </section>{% endcomment %}
    {% elsif collection.title == "Youth Low Cut" %}
       <section class="col gif-insert" id="image-insert-1">
      <section class="card" style="border: none" id="image-break-youth-low">
    </section>

    </section>
{% comment %}           <section class="col gif-insert" id="image-insert-2">
      <section class="card" style="border: none" id="image-break-youth-low-2">
    </section>

    </section>
           <section class="col gif-insert" id="image-insert-3">
      <section class="card" style="border: none" id="image-break-youth-low-3">
    </section>{% endcomment %}

    </section>
    {% elsif collection.title == "Toddler" %}
      <section class="col gif-insert" id="image-insert-1">
      <section class="card" style="border: none" id="image-break-toddler">
      </section>
    </section>
  <section class="col gif-insert" id="image-insert-2">
      <section class="card" style="border: none" id="image-break-toddler-2">
      </section>
    </section>
    <section class="col gif-insert" id="image-insert-3">
      <section class="card" style="border: none" id="image-break-toddler-3">
      </section>
    </section>
    {% endif %}



<style>
  #image-break-youth-low {
    background-image: url("{{'NewCollectionsImages20_YouthLow.jpg' | asset_url}}");
    background-size: cover;
    background-position: center;
  }
    #image-break-youth-low-2 {
    background-image: url("{{'NewCollectionsImages11_YouthLow.jpg' | asset_url}}");
    background-size: cover;
    background-position: center;
  }
    #image-break-youth-low-3 {
    background-image: url("{{'NewCollectionsImages9_YouthLow.jpg' | asset_url}}");
    background-size: cover;
    background-position: left;
  }
    #image-break-toddler {
    background-image: url("{{'NewCollectionsImages5_Toddler.jpg' | asset_url}}");
    background-size: cover;
    background-position: center;
  }
      #image-break-toddler-2 {
    background-image: url("{{'NewCollectionsImages10_Toddler.jpg' | asset_url}}");
    background-size: cover;
    background-position: center;
  }
      #image-break-toddler-3 {
    background-image: url("{{'NewCollectionsImages15_Toddler.jpg' | asset_url}}");
    background-size: cover;
    background-position: center;
  }
  #image-break-youth-crew {
    background-image: url("{{'NewCollectionsImages1_YouthCrew.jpg' | asset_url}}");
    background-size: cover;
    background-position: center;
  }
    #image-break-youth-crew-2 {
    background-image: url("{{'NewCollectionsImages2_YouthCrew.jpg' | asset_url}}");
    background-size: cover;
    background-position: center;
  }
    #image-break-youth-crew-3 {
    background-image: url("{{'NewCollectionsImages4_YouthCrew.jpg' | asset_url}}");
    background-size: cover;
    background-position: center;
  }
    #image-break-mens-crew {
    background-image: url("{{'NewCollectionsImages13_MenCrew.jpg' | asset_url}}");
    background-size: cover;
    background-position: center;
  }
  #image-break-mens-crew-2 {
    background-image: url("{{'NewCollectionsImages7_MenCrew.jpg' | asset_url}}");
    background-size: cover; 
    background-position: right;
  }
   #image-break-mens-crew-3 {
    background-image: url("{{'NewCollectionsImages19_MenCrew.jpg' | asset_url}}");
    background-size: cover;
    background-position: left;
  }
      #image-break-mens-low {
    background-image: url("{{'NewCollectionsImages14_MenLow.jpg' | asset_url}}");
    background-size: cover;
    background-position: center;
  }
        #image-break-mens-low-2 {
    background-image: url("{{'NewCollectionsImages16_MenLow.jpg' | asset_url}}");
    background-size: cover;
    background-position: center;
  }
        #image-break-mens-low-3 {
    background-image: url("{{'NewCollectionsImages17_MenLow.jpg' | asset_url}}");
    background-size: cover;
    background-position: center;
  }
    #image-break-womens-crew {
    background-image: url("{{'NewCollectionsImages19.jpg' | asset_url}}");
    background-size: cover;
    background-position: center;
      background-repeat: no-repeat; 
  }
      #image-break-womens-crew-2 {
    background-image: url("{{'NewCollectionsImages21.jpg' | asset_url}}");
    background-size: cover;
    background-position: right;
  }
      #image-break-womens-crew-3 {
    background-image: url("{{'NewCollectionsImages6_WomenCrew.jpg' | asset_url}}");
    background-size: cover;
    background-position: center;
  }
      #image-break-womens-no-show {
    background-image: url("{{'NewCollectionsImages19.jpg' | asset_url}}");
    background-size: cover;
    background-position: center;
  }
      #image-break-womens-no-show-2 {
    background-image: url("{{'NewCollectionsImages21.jpg' | asset_url}}");
    background-size: cover;
    background-position: right;
  }
      #image-break-womens-no-show-3 {
    background-image: url("{{'NewCollectionsImages6_WomenCrew.jpg' | asset_url}}");
    background-size: cover;
    background-position: center;
  }
      #image-break-womens-low {
    background-image: url("{{'NewCollectionsImages8_WomenLow.jpg' | asset_url}}");
    background-size: cover;
    background-position: center;
  }
        #image-break-womens-low-2 {
    background-image: url("{{'NewCollectionsImages12_WomenLow.jpg' | asset_url}}");
    background-size: cover;
    background-position: right;
  }
        #image-break-womens-low-3 {
    background-image: url("{{'NewCollectionsImages18_WomenLow.jpg' | asset_url}}");
    background-size: cover;
    background-position: center;
  }
        #image-break-womens-performance {
    background-image: url("{{'NewCollectionsImages8_WomenLow.jpg' | asset_url}}");
    background-size: cover;
    background-position: center;
  }
        #image-break-womens-performance-2 {
    background-image: url("{{'NewCollectionsImages12_WomenLow.jpg' | asset_url}}");
    background-size: cover;
    background-position: right;
  }
        #image-break-womens-performance-3 {
    background-image: url("{{'NewCollectionsImages18_WomenLow.jpg' | asset_url}}");
    background-size: cover;
    background-position: center;
  }
  .selected-prev { border: 1px inset #666562; border-radius: 100%; }
</style>




   
    <script>
      $('.color-preview-circle').click(function() {
        event.preventDefault(); 
        $(this).addClass('selected-prev').siblings().removeClass('selected-prev')
        var imageDisplay = $(this).parent().siblings('.slvr-col-img-wrapper').find('img')
        var newImage = $(this).data("image-src")
        $(imageDisplay).attr("src", newImage); 

      }); 

     
	  	
      var displayedProducts = ["3-1", "image-insert-1", "8-1", "4-1", "2-1 ", "12-1", "3-2", "6-2", "image-insert-2", "12-2", "2-2", "2-3", "4-2", "3-3", "6-3","image-insert-3", "8-2", "4-3", "12-3", "8-3", "image-insert-4"]

      $(displayedProducts).each(function(index, element){
        let cardPlacement = "#" + element 
          $('.row').append($(cardPlacement)); 
      })
    </script> 
    {% if collection.title == "Women's Low Cut" %}
    <section class="col placeholder" style="flex: 1 1 25% !important;" >
      <section class="card" id="womens-placeholder">
        <div>
        </div> 
      </section>
    </section>
    {% elsif collection.title == "Men's Low Cut" %}
    <section class="col placeholder" style="flex: 1 1 25% !important;" >
      <section class="card" id="mens-placeholder">
        <div>
        </div>
      </section>
    </section>
    {% elsif collection.title == "Women's Crew" %}
    <section class="col placeholder" style="flex: 1 1 25% !important;" >
      <section class="card" id="womens-crew-placeholder">
        <div>
        </div>
      </section>
    </section>
    {% elsif collection.title == "Men's Crew" %}
    <section class="col placeholder" style="flex: 1 1 25% !important;" >
      <section class="card" id="mens-crew-placeholder">
        <div>
        </div>
      </section>
    </section>
   {% elsif collection.title == "Youth Crew" %}
    <section class="col placeholder" style="flex: 1 1 25% !important;" >
      <section class="card" id="kids-crew-placeholder" style="border: none;">
        <div>
        </div>
      </section>
    </section>
      {% elsif collection.title == "Youth Low Cut" %}
    <section class="col placeholder" style="flex: 1 1 25% !important;" >
      <section class="card" id="kids-low-placeholder" style="border: none;">
        <div>
        </div>
      </section>
    </section>
        {% elsif collection.title == "Toddler" %}
    <section class="col placeholder" style="flex: 1 1 25% !important;" >
      <section class="card" id="toddler-placeholder" style="border: none;">
        <div>
        </div>
      </section>
    </section>
  {% endif %}  
  </section>
  <section class="view-more-products flex-container jcc aifs">
    <div>
      <a href="/collections/womens-no-show">
        <img src="{{'W.No.png' | asset_url}}" />
        <p class="tac"><b>Shop Women's No Show</b></p>
      </a>
    </div>
    <div>
      <a href="/collections/womens-low-cut">
        <img src="{{'W.Low.png' | asset_url}}" />
        <p class="tac"><b>Shop Women's Low Cut</b></p>
      </a>
    </div>
    <div>
      <a href="/collections/womens-crew">
        <img src="{{'W.Crew.png' | asset_url}}" />
        <p class="tac"><b>Shop Women's Crew</b></p>
      </a>
    </div>
    <div>
      <a href="/collections/womens-performance">
        <img src="{{'W.Perf.png' | asset_url}}" />
        <p class="tac"><b>Shop Women's Performance</b></p>
      </a>
    </div>
        <div>
      <a href="/collections/mens-low-cut">
        <img src="{{'M.Low.png' | asset_url}}" />
        <p class="tac"><b>Shop Men's Low Cut</b></p>
      </a>
    </div>
        <div>
      <a href="/collections/mens-crew">
        <img src="{{'M.Crew.png' | asset_url}}" />
        <p class="tac"><b>Shop Men's Crew</b></p>
      </a>
    </div>
  </section>
</main>
<style>
  .view-more-products div { margin: 5px;  }
  .slvr-col-img-wrapper img { width: 100%; } 
   #toddler-placeholder {
  
  
/*     background-color:#C8D2D3;  */
    background-image: url("{{'KidsLifestyleShoot_Toddler3.png' | asset_url}}"); 
      background-position: bottom center; 
      background-size: contain;
      background-repeat: no-repeat; 
      }
    #kids-crew-placeholder {
/*     background-color:#C8D2D3;  */
    background-image: url("{{'KidsLifestyleShoot_Crew5.png' | asset_url}}"); 
      background-position: bottom center; 
      background-size: contain;
      background-repeat: no-repeat; 
      }
      #kids-low-placeholder {
/*     background-color:#C8D2D3;  */
    background-image: url("{{'KidsLifestyleShoot_Low3.png' | asset_url}}"); 
      background-position: bottom center; 
      background-size: contain;
      background-repeat: no-repeat; 
      }
  #mens-placeholder {
    background-color:#C8D2D3; 
    background-image: url("{{'CatalogPageImages-Mens.jpg' | asset_url}}"); 
      background-position: top center; 
      background-size: contain;
      background-repeat: no-repeat; 
      }
  #mens-crew-placeholder {
    background-color:#CCECD4; 
    background-image: url("{{'CatalogPageImages_MensCrew.jpg' | asset_url}}"); 
      background-position: top center; 
      background-size: contain;
      background-repeat: no-repeat; 
      }
  #womens-placeholder {
    background-color: #D98F76 ; 
    background-image: url("{{'CatalogPageImages_Women.jpg' | asset_url}}"); 
      background-position: top center; 
      background-size: contain;
      background-repeat: no-repeat; 
      }
  #womens-crew-placeholder {
    background-color: #FDC2F0 ; 
    background-image: url("{{'CatalogPageImages_WomensCrew.jpg' | asset_url}}"); 
      background-position: top center; 
      background-size: contain;
      background-repeat: no-repeat; 
      }

  .row {
    display: flex; 
    flex-flow: row wrap; 
    margin-top: 5px;
  }

  .col { 
    display: flex; 
    flex-flow: column; 
  }

  .strikethrough { text-decoration: line-through; font-size: 10pt; color: gray; }
  .card {
    display: flex;
    margin: 5px;
    align-items: stretch;
    flex-direction: column;
    height: 100%;
  }
  .color-preview-circle { height: 20px; width: 20px; display: inline-block; border-radius: 100%;} 
  .col h3 {line-height: 1; } 
  @media only screen and (max-width: 588px) {
    .col { flex: 0 0 50% !important; }
  }
  @media only screen and (min-width: 1100px) {
    .col h3 { height: 100px; font-size: 20pt; }
  }
  @media only screen and (min-width: 589px) and (max-width: 1099px) {
    .col h3 { height: 69px; font-size: 14pt; }

  }
  @media only screen and (min-width: 450px) and (max-width: 588px) {
    .col h3 { height: 69px; }
/*        .slvr-col-img-wrapper { height: 250px; }
*/  }
  @media only screen and (max-width: 449px) {
    .col h3 { height: 76px; font-size: 12pt; }
    .atf-float h1 { font-size: 17pt; }

  }
    @media only screen and (min-width: 350px) and (max-width: 449px) {
/*        .slvr-col-img-wrapper { height: 200px; }
*/
  }
/*    @media only screen and (max-width: 349px) {
        .slvr-col-img-wrapper { height:200px; }

  }*/

  @media only screen and (min-width: 589px) and (max-width: 799px) {
    .col { flex: 0 0 33% !important; }

  }
  @media only screen and (min-width: 800px) {
    .col { flex: 0 0 25% !important; }
  }

  .card {
    box-shadow: 2px 2px 10px #F5F8F8;
    height: 100%;
  }
  .card:hover {
    box-shadow: rgb(0 0 0 / 8%) 0px 0px 4px 2px; 
  }
    @media only screen and (max-width: 588px) {
    .view-more-products { 
      width: 100%; 
      overflow: scroll; 
      white-space: nowrap;
      display: inline-block;
    }
    .view-more-products div {
      display: inline-block;
      margin-right: ;
      width: 200px;
      vertical-align: middle;
    }
  }
 

</style>
